.article-list {
    text-align: center;
    justify-content: center;
    .error-text {
        font-size: 0.9rem;
        width: 100%;
        flex-direction: column;
        font-style: italic;
    }
    @include media($tablet) {
        @include flex-wrap;
    }
    li {
        @include flex-wrap;
        flex-direction: column;
        @include media ($tablet) {
            flex-direction: row;
            width: 50%;
        }
        @include media($desktop) {
            width: 25%;
        }
        a {
            display: flex;
            position: relative;
            width: $fullPercentage;
            height: 26.65rem;
            overflow: hidden;
            text-decoration: $cancelValue;
            z-index: 0;
        }
        img {
            position: $absolutePosition;
            height: $fullPercentage;
            min-width: $fullPercentage;
            z-index: -1;
        }
        .article-text {
                position: $absolutePosition;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 0.5rem;
                line-height: 1.5rem;
                text-align: left;
                color: $baseColor;
                min-width: $fullPercentage;
                bottom: -161px;
                height: 10rem;
                transition: bottom 0.9s ease;
        }
        &:hover {
            .article-text {
                bottom: 0;
            }
        }
    }
}

.preloader {
    text-align: center;
    img {
        width: 40px;
        height: 40px;
    }
}