@mixin body-content {
    font-family: $font;
    font-size: 1rem;
    color: $baseColor;
} 

@mixin column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin row-center {
    flex-direction: row;
    justify-content: center;
}

@mixin column-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@mixin column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
