@mixin body-content {
    font-family: $font;
    font-size: 1rem;
    color: $baseColor;
} 

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin row-center {
    flex-direction: row;
    justify-content: center;
}

@mixin column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

@mixin animation-specs {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
